.main {
    background-image: url("293245_fantastic.jpg");
    background-size: 100%;
}
 .final {
    background-image: url("011.jpg");
    background-size: 100%;
}
 .col {
     padding-top: 100px;
 }